PORT=3001

META_PHONE_NUMBER_ID=
META_ACCESS_TOKEN=
META_VERIFY_TOKEN=
META_APP_SECRET=


PG_HOST=
PG_PORT=
PG_USER=
PG_PASSWORD=
PG_DATABASE=

JWT_SECRET=generate_a_long_random_string_here
JWT_EXPIRY=24h
BCRYPT_ROUNDS=12